* {
    font-family: 'Lexend Deca', sans-serif;
    font-size: calc(12px + .25vw);
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2,31,75);
    background: linear-gradient(135deg, rgba(2,31,75,1) 0%, rgba(76,59,113,1) 60%, rgba(17,82,104,1) 100%);
}

#grid {  
    margin: auto;
    max-width: 900px;
    height: auto;
    background-color: #dddddd;
    display: grid;
    grid-template-rows: 10vmax auto 1fr auto;

    @media screen and (min-width: 1080px){
        width: 1080px;
    }
}

header {
    background: #1e1e1e;
}

nav {
    background: #1e1e1e;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a, nav i {
    height: 2.5vmin;
    color: #dddddd;
    flex-grow: 1;
    text-align: center;
    margin: auto;
}

nav a:hover, nav a:hover i {
    background: #dddddd;
    color: #1e1e1e;
}

content {
    padding: 2vmin;
    flex-grow: 1;
}

footer {
    background: #1e1e1e;
    padding: 2vmin;
}

footer table, th, tr, td, i, a{
    color: #dddddd;
    margin: .2rem;
}

footer tr:hover a, tr:hover i {
    color: rgba(17,82,104);
}